.link-text {
  &-wrapper {
    cursor: pointer;

    background-image: linear-gradient(transparent 94%, black 95%, black);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.4s ease;
    text-decoration: none;
    padding-bottom: 4px;

    &:hover {
      background-size: 100% 100%;
    }
  }

  &-blank-line {
    margin-top: 4px;
  }
}
